<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>657627186081-llukiq58c09sbo4fi1iio1mac1s334us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657627186081-llukiq58c09sbo4fi1iio1mac1s334us</string>
	<key>API_KEY</key>
	<string>AIzaSyBeaG1Ly7fwPFAmLLM528vc97WubG0A0Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>657627186081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.sems.CodaGram</string>
	<key>PROJECT_ID</key>
	<string>liveupdatestatus-94ece</string>
	<key>STORAGE_BUCKET</key>
	<string>liveupdatestatus-94ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657627186081:ios:e5f098f941c4bab4</string>
	<key>DATABASE_URL</key>
	<string>https://liveupdatestatus-94ece.firebaseio.com</string>
</dict>
</plist>